.topics-screen {
	padding: 20px;
}

.topics-screen ul {
	list-style: none;
	padding-left: 0;
	width: 640px;
	margin: auto;
	border: 1px solid #aaa;
}

.topics-screen li {
	text-align: left;
	border-bottom: 1px solid #aaa;
	padding-left: 20px;
}